{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="container p-3 grow text-white">
    {% csrf_token %}
  <br />
  {{request.user.email}}
  <br />
  <div class="flex my-2">
    <div class="flex-1">Info</div>
    <div class="flex-1" id="latestTickets"></div>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
            <th scope="col" class="px-6 py-3">ID</th>
          <th scope="col" class="px-6 py-3">Image</th>
          <th scope="col" class="px-6 py-3">Address</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for i in tickets %}
        <tr
            id="{{i.id}}"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
        <td class="px-6 py-4">{{i.id}}</td>
          <td class="px-6 py-4">
            <a href="http://127.0.0.1:8000{{i.image.url}}">http://127.0.0.1:8000{{i.image.url}}</a>
        </td>
          <td class="px-6 py-4">{{i.address}}</td>
          <td class="px-6 py-4" id="badge{{i.id}}">
            {% if i.status == "Pending" %}
            <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">Pending</span>
            {% elif i.status == "Allotted" %}
            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">Alloted</span>
            {% elif i.status == "Rescued" %}
            <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Rescued</span>
            {% else %}
            <span class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300">Not Rescued</span>
            {% endif %}
        </td>
          <td class="px-6 py-4 text-right">
            <select name="" onchange="updateStatus('{{i.id}}')">
                <option value="" selected disabled hidden>Edit</option>
                <option value="RESCUED">Rescued</option>
                <option value="NOTRESCUED">Not Rescued</option>
            </select>
          </td>
        </tr>
        {% endfor %}



        <!-- 
            Modal
            hidden id field form post req
             * dropdown Rescued/Not rescued
             POST /dashboard 
                {
                    id: id
                    status: "RESCUED"/"NOTRESCUED"
                }
                submitted :true/false

         -->
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock scripts %}

<!-- {% for i in tickets %}
        {{i}} <br>
        {{i.id}} <br>
        {{i.image.url}} <br>
        {{i.address}} <br>
        {{i.status}} <br>
        {{i.latitude}} <br>
        {{i.longitude}} <br>
    {% endfor %} -->